@import "../../sass/mixins/containers.scss";
@import "../../sass/mixins/buttons.scss";

.game-setting {
  @include fullscreen-container();
  background-color: #152938;
  color: white;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
  }
  .configuration {
    position: absolute;
    top: 165px;
    width: 327px;
    height: 386px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button-navigation {
    @include button-size-big();
    @include button-color-primary();
  }

  @media screen and (min-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 169px;
    }
    .configuration {
      top: 297px;

      width: 654px;
      height: 559px;
      padding: 56px;
    }
  }

  @media screen and (min-width: 768px) and (max-height: 900px) {
    justify-content: space-evenly;
    min-height: 620px;

    .title {
      margin-top: 0px;
    }
    .configuration {
      top: unset;
      position: relative;
    }
  }
}
