@import "../../sass/mixins/containers.scss";
@import "../../sass/mixins/buttons.scss";

.screen-start-container {
  @include fullscreen-container();
  background-color: #152938;
  color: white;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
  }
  .configuration {
    position: absolute;
    top: 165px;
    width: 327px;
    height: 386px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button-navigation {
    @include button-size-big();
    @include button-color-primary();

    &:hover {
      @include button-color-primary-hover();
    }
  }
}
