.App {
  background-color: #152938;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

button {
  transition: background-color 90ms ease-out;
  width: 100%;
  color: white;
  border-radius: 26px;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &::slotted {
    user-select: none;
  }
}

button.button-navigation {
  height: 48px;
  background: #fda214;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    background: #ffb84a;
  }
}
