@import "../../sass/mixins/buttons.scss";

.select-options-container {
  span {
    display: block;
    color: #7191a5;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    user-select: none;
  }
  .select-options {
    display: flex;
    justify-content: space-between;
    margin: 0 -5.5px;

    button {
      @include button-size-normal();
      @include button-color-options();

      margin: 5.5px;
      &:hover {
        @include button-color-options-hover();
      }
      &.button-active {
        @include button-color-options-selected();
      }
    }
  }
}
