@import "./utilities.scss";

@mixin button-base {
  @include text-unselectable();
  font-weight: 700;
  border-radius: 26px;
}

@mixin button-size-normal {
  @include button-base();
  height: 40px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    height: 52px;
    font-size: 26px;
  }
}
@mixin button-size-big {
  @include button-base();
  height: 48px;
  font-size: 18px;
}
@mixin button-color-primary {
  color: #fcfcfc;
  background: #fda214;

  &:hover {
    color: #fcfcfc;
    background: #ffb84a;
  }
}
@mixin button-color-secondary {
  color: #304859;
  background: #dfe7ec;

  &:hover {
    color: #fcfcfc;
    background: #6395b8;
  }
}
@mixin button-color-options {
  color: #fcfcfc;
  background: #bcced9;

  &:hover {
    color: #fcfcfc;
    background: #6395b8;
  }
  &.button-active {
    color: #fcfcfc;
    background: #304859;
  }
}
