@mixin button-size-normal {
  height: 40px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 700;
}
@mixin button-size-big {
  height: 48px;
  border-radius: 26px;
  font-size: 18px;
  font-weight: 700;
}
@mixin button-color-primary {
  color: #fcfcfc;
  background: #fda214;

  &:hover {
    color: #fcfcfc;
    background: #ffb84a;
  }
}
@mixin button-color-secondary {
  color: #304859;
  background: #dfe7ec;

  &:hover {
    color: #fcfcfc;
    background: #6395b8;
  }
}
@mixin button-color-options {
  color: #fcfcfc;
  background: #bcced9;

  &:hover {
    color: #fcfcfc;
    background: #6395b8;
  }
  &.button-active {
    color: #fcfcfc;
    background: #304859;
  }
}
