@import "../../sass/mixins/containers.scss";
@import "../../sass/mixins/buttons.scss";

.screen-container {
  @include fullscreen-container();
  justify-content: space-between;
  padding: 24px;

  header,
  main,
  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header {
    height: 40px;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 700;
      color: #152938;
    }

    button {
      @include button-size-normal();
      @include button-color-primary();
      width: 78px;
    }
  }
  footer {
    height: 70px;

    div {
      flex: 1;
      max-width: 151px;
      background-color: #dfe7ec;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      span:first-child {
        color: #7191a5;
        font-size: 15px;
        font-weight: 700;
      }
      span:last-child {
        color: #304859;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      width: 327px;
      height: 327px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        color: #fcfcfc;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        caret-color: #00000000;

        &.tile-size-4x4 {
          font-size: 40px;
          font-weight: 700;
          min-width: 72.53px;
          min-height: 72.53px;
          margin-bottom: 10px;
        }

        &.tile-size-6x6 {
          font-size: 24px;
          font-weight: 700;
          min-width: 46.88px;
          min-height: 46.88px;
          margin-bottom: 8px;
        }

        &.tile-hidden {
          background-color: #304859;
          color: #fcfcfc00;
        }
        &.tile-selected {
          background-color: #fda214;
        }
        &.tile-paired {
          background-color: #bcced9;
        }
        transition: background-color 85ms ease-in-out;
        transition: color 85ms ease-in-out;
      }
    }
  }
}
