@import "reset-css/sass/_reset.scss";
@import "./assets/fonts/AtkinsonHyperlegible/stylesheet.css";
@import "./sass/index.scss";

body * {
  font-family: "Atkinson Hyperlegible";
  box-sizing: border-box;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}
